In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [28]:
# Load the data
bmi_life_data = pd.read_csv('bmi_and_life_expectancy.csv')
bmi_life_data

                Country  Life expectancy       BMI
0           Afghanistan             52.8  20.62058
1               Albania             76.8  26.44657
2               Algeria             75.5  24.59620
3               Andorra             84.6  27.63048
4                Angola             56.7  22.25083
..                  ...              ...       ...
158             Vanuatu             63.4  26.78926
159  West Bank and Gaza             74.1  26.57750
160             Vietnam             74.1  20.91630
161              Zambia             51.1  20.68321
162            Zimbabwe             47.3  22.02660

[163 rows x 3 columns]

In [51]:
x_values = bmi_life_data[['BMI']]
x_values

          BMI
0    20.62058
1    26.44657
2    24.59620
3    27.63048
4    22.25083
..        ...
158  26.78926
159  26.57750
160  20.91630
161  20.68321
162  22.02660

[163 rows x 1 columns]

In [52]:
y_values = bmi_life_data[['Life expectancy']]
y_values

     Life expectancy
0               52.8
1               76.8
2               75.5
3               84.6
4               56.7
..               ...
158             63.4
159             74.1
160             74.1
161             51.1
162             47.3

[163 rows x 1 columns]

In [7]:
# Build a linear regression model
bmi_life_model = LinearRegression()
bmi_life_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
bmi_life_model.fit(x_values, y_values)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [57]:
laos_life_exp = bmi_life_model.predict([[21.07931]])
laos_life_exp

array([[60.31564716]])